<link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/movie.css">
<script src="/bower_components/jQuery/dist/jquery.min.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-aria/angular-aria.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/angular-route/angular-route.min.js"></script>
<script src="/bower_components/angular-material/angular-material.js"></script>
<script type="text/javascript" src='/javascripts/search.js'></script>

<script type="text/javascript">
	var currentCollection = '<%= collection._id %>';
</script>
<div ng-app='searchApp' ng-controller='searchCtrl as ctrl' layout='column' class='wrap-search'>
	<h1>Movie Search</h1>

	<md-content class="md-padding">
		<form ng-submit='$event.preventDefault()'>
			<md-autocomplete md-selected-item='ctrl.selectedItem' md-search-text-change='ctrl.searchTextChange(ctrl.searchText)' md-search-text='ctrl.searchText' md-selected-item-change='ctrl.selectedItemChange(item)' md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.Title" md-min-length="0" placeholder="Movie Title">
				<md-item-template>
					<span md-highlight-text='ctrl.searchText' md-highlight-flags='^i'>{{ item.Title }}</span>
				</md-item-template>
				<md-not-found>
					No movies were found.
				</md-not-found>
			</md-autocomplete>
			<br/>
		</form>
	</md-content>

	<section class='card-section'>
		<div ng-show='ctrl.itemShown' class="card-movie">
			<div><img ng-src="{{ctrl.itemShown.Poster}}"></div>
			<div>
				<h3>{{ctrl.itemShown.Title}}</h3>
				<h3>{{ctrl.itemShown.Year}}</h3>
				<p>{{ctrl.itemShown.Plot}}</p>
				<button ng-click="ctrl.addMovieToCollection();">Add +</button>
			</div>
		</div>
	</section>

</div>