<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="//db.onlinewebfonts.com/c/4a0ed71aba5c9ed973b549db5c867c22?family=Little+Lord+Fontleroy+NF" rel="stylesheet" type="text/css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/sidenav.css">
		<link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/movie.css">
		<script src="/bower_components/jQuery/dist/jquery.min.js"></script>
		<script src="/bower_components/angular/angular.js"></script>
		<script src="/bower_components/angular-aria/angular-aria.js"></script>
		<script src="/bower_components/angular-animate/angular-animate.js"></script>
		<script src="/bower_components/angular-route/angular-route.min.js"></script>
		<script src="/bower_components/angular-material/angular-material.js"></script>
		<script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script type="text/javascript" src='/javascripts/index.module.js'></script>
		<script type="text/javascript" src='/javascripts/collections.service.js'></script>
		<script type="text/javascript" src='/javascripts/main.controller.js'></script>
		<script type="text/javascript" src='/javascripts/collections.controller.js'></script>
		</head>
  <body ng-app='cineAmorApp'>
  	<div layout="row" ng-controller="mainCtrl as mctrl">
  	<a class='nav-trigger' ng-click="mctrl.openLeftMenu()">
  		<span></span>
			<span></span>
			<span></span>
			<span></span>
  	</a>
  	<h2 class='logo' ng-hide='mctrl.isHomePage()'>CineAmor</h2>
	  <md-sidenav md-component-id="left" class="md-sidenav-left">
	  	<h1 ui-sref="home" ng-click='mctrl.openLeftMenu();' class='sidenav-item'>Home</h1>
	    <h1 ui-sref="signup" ng-click='mctrl.openLeftMenu();' class='sidenav-item' ng-hide='mctrl.user'>Signup</h1>
	    <h1 ui-sref="login" ng-click='mctrl.openLeftMenu();' class='sidenav-item' ng-hide='mctrl.user'>Login</h1>
	    <h1 ng-click='mctrl.logout(); mctrl.openLeftMenu();' class='sidenav-item' ng-show='mctrl.user'>Logout</h1>
	    <h1 ui-sref="collections" ng-click='mctrl.openLeftMenu();' class='sidenav-item'>All Collections</h1>
	    <h1 ui-sref="userCollections({userId: mctrl.user._id})" ng-click='mctrl.openLeftMenu();' class='sidenav-item' ng-show='mctrl.user'>My Collections</h1>
	    <h1 ui-sref="collections" ng-click='mctrl.createNewCollection(); mctrl.openLeftMenu();' class='sidenav-item' ng-show='mctrl.user'>New Collection</h1>
	    <h1 ng-click='mctrl.showMovieSearch(); mctrl.openLeftMenu();' class='sidenav-item' ng-show='mctrl.isCollectionPage();'>Add Movie</h1>
	  </md-sidenav>
	  <div ui-view class='view-wrap'>

	  </div>
	</div>
  </body>
</html>