<div class='collections-wrap' ng-class="{'dark' : mctrl.dark}">
	<div ng-hide='!csctrl.collections || csctrl.collections.length > 0' class='no-collections'>
		<h2>There are no Collections!</h2>
		<h2 ng-show='mctrl.user'>Click the Sidebar to Create One!</h2>
		<h2 ng-hide='mctrl.user'>Click the Sidebar to Log In and Create One!</h2>
	</div>
	<div ng-repeat="collection in csctrl.collections" class='collection-wrap'>
		<a ng-click='csctrl.openCollection(collection)'>
			<h2>{{collection.name}}</h2>
			<img ng-src="{{csctrl.getCollectionThumb(collection)}}">
		</a>
	</div>
</div>