<div class='movie-list' ng-class="{'dark-trigger' : mctrl.dark}">
	<div ng-hide='csctrl.collection.movies.length > 0' class='no-collections'>
		<h2>You have no Movies!</h2>
		<h2>Click the Sidebar to Add One!</h2>
	</div>
	<div ng-repeat="movie in csctrl.collection.movies" class='movie-item' ng-click='csctrl.switchItem(movie); mctrl.showMovieInfo();'><img ng-src="{{movie.poster}}"></div>
</div>

<div class='wrap-movieinfo-overlay' ng-show='mctrl.miRevealed' ng-click='mctrl.closeMovieInfo()'>
	<div class='wrap-movieinfo' ng-class="{'dark' : mctrl.dark}">
		<section class='card-section'>
			<div ng-show='csctrl.itemShown' class="card-movie">
				<div><img ng-src="{{csctrl.itemShown.poster}}"></div>
				<div>
					<h3>{{csctrl.itemShown.title}}</h3>
					<h3>{{csctrl.itemShown.year}}</h3>
					<p>{{csctrl.itemShown.plot}}</p>
					<button ng-click="csctrl.addMovieToCollection();" ng-hide='csctrl.existsInCollection()'>Add +</button>
					<button ng-click="csctrl.removeMovieFromCollection();" ng-show='csctrl.existsInCollection()'>Remove X</button>
				</div>
			</div>
		</section>
	</div>
</div>

<div layout='column' class='wrap-search-overlay' ng-show='mctrl.msRevealed' ng-click='mctrl.closeSearch();'>
	<div class='wrap-search' ng-click='$event.stopPropagation()'>
		<md-content class="md-padding">
			<form ng-submit='$event.preventDefault()'>
				<md-autocomplete md-selected-item='csctrl.selectedItem' md-search-text-change='csctrl.searchTextChange(csctrl.searchText)' md-search-text='csctrl.searchText' md-selected-item-change='csctrl.selectedItemChange(item)' md-items="item in csctrl.querySearch(csctrl.searchText)" md-item-text="item.Title" md-min-length="0" placeholder="Movie Title">
					<md-item-template>
						<span md-highlight-text='csctrl.searchText' md-highlight-flags='^i'>{{ item.Title }} - {{ item.Year }}</span>
					</md-item-template>
					<md-not-found>
						No movies were found.
					</md-not-found>
				</md-autocomplete>
				<br/>
			</form>
		</md-content>

		<section class='card-section'>
			<div ng-show='csctrl.itemShown' class="card-movie">
				<div><img ng-src="{{csctrl.itemShown.Poster}}"></div>
				<div>
					<h3>{{csctrl.itemShown.Title}}</h3>
					<h3>{{csctrl.itemShown.Year}}</h3>
					<p>{{csctrl.itemShown.Plot}}</p>
					<button ng-click="csctrl.addMovieToCollection();" ng-hide='csctrl.existsInCollection()'>Add +</button>
					<button ng-click="csctrl.removeMovieFromCollection();" ng-show='csctrl.existsInCollection(); csctrl.itemShown'>Remove X</button>
				</div>
			</div>
		</section>
	</div>
</div>